Thumbs.db
pom.xml.versionsBackup
*.iml
obj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.project
.classpath
.factorypath
.apt_generated/
.settings/
.idea/
.vscode/
target/
logs/
.run/
ps_*
